* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fb;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;

    background: white;
    padding: 25px 20px;

    border-right: 1px solid #ddd;
}

.sidebar h2 {
    color: #4f46e5;
    margin-bottom: 30px;
}

nav a {
    display: block;

    padding: 12px;
    margin-bottom: 5px;

    text-decoration: none;
    color: #374151;

    border-radius: 8px;
}

nav a:hover,
nav a.active {
    background: #4f46e5;
    color: white;
}

#logoutBtn {
    position: absolute;
    bottom: 25px;
    width: 210px;

    padding: 12px;

    border: none;
    border-radius: 8px;

    background: #fee2e2;
    color: #dc2626;
}

main {
    margin-left: 250px;
}

header {
    background: white;
    padding: 25px 30px;
    border-bottom: 1px solid #ddd;
}

header p {
    color: #777;
    margin-top: 5px;
}

.content {
    padding: 30px;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.event-card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.event-image {
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
}

.coding {
    background: #e0e7ff;
}

.talk {
    background: #fce7f3;
}

.sports {
    background: #dcfce7;
}

.cultural {
    background: #fef3c7;
}

.event-body {
    padding: 20px;
}

.event-type {
    color: #4f46e5;
    font-size: 11px;
    font-weight: bold;
}

.event-body h2 {
    margin: 8px 0;
    font-size: 19px;
}

.event-body p {
    color: #777;
    line-height: 1.5;
}

.event-date {
    margin: 18px 0;
    color: #4f46e5;
    font-size: 14px;
}

.event-body button {
    width: 100%;
    padding: 11px;

    border: none;
    border-radius: 8px;

    background: #4f46e5;
    color: white;

    cursor: pointer;
}

.event-body button:hover {
    background: #3730a3;
}

@media(max-width:1000px) {
    .event-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:700px) {

    .sidebar {
        display: none;
    }

    main {
        margin-left: 0;
    }

    .content {
        padding: 15px;
    }

    .event-grid {
        grid-template-columns: 1fr;
    }

}